# Puerto donde escuchará la API HTTP
PORT=3000

# Entorno de ejecución (development / production / test)
NODE_ENV=production

# (Opcional) Proxy HTTP/HTTPS para evitar bloqueos de IP en VPS
# Ej: http://usuario:password@host:puerto o http://host:puerto
# YOUTUBE_PROXY=http://user:pass@proxy.example.com:8080

